#content {
  margin-left: 260px;
}

/* Sidebar container */
#table-of-contents {
  position: fixed;
  top: 1em;
  left: 1em;
  width: 200px;
  max-height: 90vh;
  min-height: 90vh;
  overflow-y: auto;
  padding: 0.5em 1em;
  background: var(--secondary-bg-color);
  border-width: 1px;
  border-style: solid;
  border-color: var(--dropshadow-color);
  border-radius: 0px;
  font-size: 0.9em;
}
@media (max-width: 800px) {
  #table-of-contents {
    position: static;
    width: auto;
    max-height: none;
    min-height: auto;
    margin-bottom: 1em;
  }

  #content {
    margin-left: 0;
  }
}

/* Make TOC links simple and readable */
#table-of-contents a {
  text-decoration: none;
  color: var(--secondary-color);
}

#table-of-contents a:hover {
  text-decoration: underline;
}

.shader-canvas {
	/* unused for now */
	max-width: 25vw; max-height: 25vw;
}

img {
	max-width: 75vw; max-height: 75vw;
	min-width: 25vw;
}
