td,
th {
    text-align: center;
    border: 1px solid grey;
}

.clickable {
    cursor: pointer;
}

body {
    /* --secondary-bg-color: #f5f5dc;
    --primary-bg-color: #F5DCE9; */
    --primary-bg-color: #A1E8CC;
    --secondary-bg-color: #CCE8CC;
    --primary-color: #404E4D;
    --secondary-color: #63595C;
    --tertiary-color: #646881;
    --dropshadow-color: #92C0A5;

    background-color: var(--primary-bg-color);
    color: var(--primary-color);
}

#main {
    text-align: center;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

/* Inline code */
code {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    background-color: var(--secondary-bg-color);
    padding: 0.2em 0.4em;
    font-size: 0.95em;
}

/* Block code */
pre {

    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    background-color: var(--secondary-bg-color);
    padding: 0.2em 0.4em;
    font-size: 0.95em;

	border-width: 1px;
	border-style: solid;
	border-color: var(--dropshadow-color);
    border-radius: 0px;
}
