label,
input {
    border: none;
    margin: auto;
    background-color: #8b0000;
    text-align: center;
}

table {
    border: 1;
}

a,
h1 {
    color: #81d6e3;
}

input[type="text"]:placeholder-shown {
    background-color: inherit;
    color: #81d6e3;
    opacity: 0.75;
}

input[type="text"]:not(:placeholder-shown) {
    color: #ea7af4;
    border: none;
}

tr,
td {
    background-color: inherit;
    border: none;
    margin: auto;
    text-align: center;
    vertical-align: middle;
}

body {
    color: #ea7af4;
    background-color: #1b3022;
}

table {
    border-collapse: collapse;
}

tr {
    border: solid;
    border-width: 1px 0;
}

tbody tr td:nth-child(even) {
    background-color: #663399;
}